body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #1e90ff;
}

.experience-card {
    background-color: #333;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.experience-card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #1e90ff;
}

.experience-card h4 {
    font-size: 1.2em;
    color: #bbb;
    margin-bottom: 20px;
}

.experience-card p {
    font-size: 1.1em;
    color: #ddd;
    margin-bottom: 10px;
    text-align: left;
}

.experience-card ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.experience-card ul li {
    font-size: 1em;
    color: #ddd;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 2em;
    }

    .experience-card h3 {
        font-size: 1.6em;
    }

    .experience-card p, .experience-card ul {
        font-size: 1em;
    }
}

/* Hamburger Icon */
.hamburger {
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2000;
}

/* Side Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    padding: 16px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #444;
    font-weight: 600;
}

.sidenav a:hover {
    background-color: #575757;
    transform: translateX(10px);
}

.sidenav .icon {
    font-size: 24px;
    margin-right: 15px;
}

/* When the side menu is open */
.sidenav.open {
    width: 250px;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .hamburger {
        left: 15px;
        top: 10px;
    }

    .sidenav a {
        font-size: 16px;
        padding: 14px 30px;
    }

    .sidenav {
        width: 0;
    }

    .sidenav.open {
        width: 100%;
    }
}

/* Smooth Animation for Side Navigation */
@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}
